body {
    background-color: #34495e;
    font-family: "Lato", sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Playfair Display', serif;
    color: white;
    text-shadow:3px 3px 0 #000;
    font-size: 60px;
    
}

footer {
    font-family: 'Playfair Display', serif;
    color: #fff;
    text-shadow:1px 1px 0 #000;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.error {
    color: rgb(252, 132, 132);
    text-shadow:1px 1px 0 black;
    display: inline-block;
    margin-top: 5px;
    padding: 5px;
    width: 100%;
}

/* This is the No button on the deletion page. */
button {
    width: 30%;
}

button a:link, a:visited {
    text-decoration: none;
    color: black;
}

.dateadded {
    color: #727171;
    font-size: x-small;
    display: inline-block;
}

/* These are for the editing note icons, not HTML buttons. */
.buttons {
    text-align: right;
    font-size: large;
}

.buttons a:link {
    color: #727171;
    text-shadow:1px 1px 0 black;
    padding-left: 4px;
    padding-right: 4px;
}

.buttons a:visited {
    color: #727171;
    text-shadow:1px 1px 0 black;
}

.buttons a:hover {
    color: rgb(196, 196, 196);
    text-shadow: none;
}

#inputarea {
    max-width: 800px;
    margin: auto;
}

input[type=text]{
    width: 65%;
}

input[type=submit] {
    width: 30%;
}

.container {
    max-width: 800px;
    margin: auto;
}

/* For quoting item on deletion or in errors */
.quote {
    color: gray;
}

.box {
    padding:10px;
    word-wrap: break-word;
  }

    /* Colours for each box */
    .box1 { background: #e1f2f8;}
    .box2 { background: #cce7f0;}
    .box3 { background: #34495e;
        color: lightgray;
    }

    .box3 li {
        text-decoration: line-through;
    }

    .box3 a:link{
        color: lightgray;
    }

    .box3 a:visited {
        color: lightgray;
    }

    .box3 .dateadded {
        color: lightgray;
    }

    .box3 a:hover {
        color: white;
    }
